<div class="studying" [ngClass]="{'active-modal': toggle === true}">
  <div class="studying__modal-content">
    <h4 class="studying__modal-title">Ciência de <br> dados</h4>
    <button class="studying__modal-close">
      <img class="studying__modal-close--img" src="/assets/icons/close.png" alt="" (click)="closeModal()">
    </button>
    <ul class="studying__modal-services grid">
      <li class="studying__modal-service">
        <img class="studying__modal-check" src="/assets/icons/check.png" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum alias ut exercitationem ducimus in expedita non similique repellat architecto! A, ab. Distinctio optio assumenda facere aliquid temporibus autem incidunt culpa.</p>
      </li>
      <li class="studying__modal-service">
        <img class="studying__modal-check" src="/assets/icons/check.png" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum alias ut exercitationem ducimus in expedita non similique repellat architecto! A, ab. Distinctio optio assumenda facere aliquid temporibus autem incidunt culpa.</p>
      </li>
    </ul>
  </div>
</div>

